.vertical-align-middle {
  vertical-align: middle;
}

.inline-block {
  display: inline-block;
}

.big {
  font-size: 150%;
}

.font-family-heading {
  font-family: $font-family-sans-serif;
}

.font-family-base {
  font-family: $font-family-base;
}
